<%= form_tag({controller: 'employees', action: 'handle_request_off'}, method: 'post') do |f| %>


    <div class="fields">
      <table class="time-pref">
        <tr>
          <!-- I like that an employee can only request one day off at any given time: smart restrictive UX -->
          <td><%= date_field_tag(:request_off_date) %></td>
        </tr>

      </table>
    </div>

    <div class="actions">
      <%= submit_tag "Request Day Off" %>
    </div>
<% end %>
